{% extends 'base.html' %}


{% block content %}
<h1>holaaa hbh</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea hic veritatis laborum tempora illum amet quia officia culpa quod perferendis dolorum earum a, autem sequi aperiam? Assumenda, aut explicabo placeat et quibusdam ipsum obcaecati, sequi nisi, dignissimos vel voluptatum optio est veniam beatae cum quasi. Minima non ratione placeat sunt, iure nostrum repellendus voluptatem! Libero unde quisquam, voluptate quo veritatis aut fugit exercitationem doloribus at iste sapiente praesentium distinctio? Officia unde quos tempora ad a, eos sit quibusdam vitae quas aspernatur, deleniti tempore fugiat recusandae, inventore at expedita nesciunt fugit! Maiores tempora ex rerum autem, laboriosam fuga. Iure, quasi?</p>
{% endblock %}